n8n-workflow.json
{
    "name": "SimCatalog Inquiry Handler",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "sim-inquiry",
                "options": {}
            },
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ]
        },
        {
            "parameters": {
                "operation": "append",
                "sheetId": "YOUR_SHEET_ID_HERE",
                "range": "A:C",
                "options": {}
            },
            "name": "Google Sheets",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 1,
            "position": [
                450,
                300
            ],
            "credentials": {
                "googleSheetsOAuth2Api": {
                    "id": "YOUR_CREDENTIAL_ID",
                    "name": "Google Sheets Account"
                }
            }
        },
        {
            "parameters": {
                "toEmail": "admin@systeminmotion.ai",
                "subject": "New Training Inquiry Received",
                "text": "={{$json[\"email\"]}} has requested info about {{$json[\"training_type\"]}}.",
                "options": {}
            },
            "name": "Gmail",
            "type": "n8n-nodes-base.gmail",
            "typeVersion": 1,
            "position": [
                650,
                300
            ],
            "credentials": {
                "gmailOAuth2": {
                    "id": "YOUR_GMAIL_CREDENTIAL_ID",
                    "name": "Gmail Account"
                }
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Google Sheets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Sheets": {
            "main": [
                [
                    {
                        "node": "Gmail",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}